body {
   background-color: rgb(30, 30, 66);
   background-image: url("https://vignette.wikia.nocookie.net/p__/images/3/37/Ladybug_Render.png/revision/latest?cb=20170217200746&path-prefix=protagonist");
   background-blend-mode: screen;
   /* normal	This is default. Sets the blending mode to normal	
    multiply	Sets the blending mode to multiply	
    screen	Sets the blending mode to screen	
    overlay	Sets the blending mode to overlay	
    darken	Sets the blending mode to darken	
    lighten	Sets the blending mode to lighten	
    color-dodge	Sets the blending mode to color-dodge	
    saturation	Sets the blending mode to saturation	
    color	Sets the blending mode to color	
    luminosity	Sets the blending mode to luminosity */
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: yellow;
    text-align: center;
}

html,
body {
    height: 100%;
}

.wrapper {
    height: 100%;
    width: auto;
    margin: 0 auto;
}

.h_iframe {
    position: relative;
}

.h_iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.h_iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ratio {
    display: block;
    width: auto;
    height: 100%;
}

label {
    color: rgb(255, 255, 139);
}

input {
    width: 10%;
    min-width: 35px;
    padding: 3px 3px;
    margin: 3px 0;
    box-sizing: border-box;
    border: 4px solid gray;
    border-radius: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 100%; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

img {
    max-width: 100%;
    max-height: 100%;
    width:100%;
    height:100%;
    background-color:blue;
    background-blend-mode: lighten;
    border: 4px solid rgb(50, 50, 50);
}

#left_col {
    width: 50%;
    height: 100%;
}

#right_col {
    width: 50%;
    height: 100%;
}
